.catalog {
  overflow: hidden;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.catalog__panorama-center {
  display: flex;
  justify-content: center;
}

.catalog__list {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }

  &--panorama {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: 320px;

    @media (min-width: @tablet-width) {
      width: auto;
      max-width: 660px;
    }

    @media (min-width: @desktop-width) {
      max-width: 1200px;
    }
  }
}

.catalog__panorama-day {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: @pink;
  color: @white;

  @media (min-width: @tablet-width) {
    top: 57px;
    right: 20px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.catalog__content {
  background-color: @grey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 19px 17px 19px;

  @media (min-width: @tablet-width) {
    padding: 23px 32px 24px 27px;
  }

  &--panorama {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 280px;
    padding: 20px 10px 20px 17px;

    @media (min-width: @tablet-width) {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 24px 29px 13px 27px;
      width: 620px;
    }

    @media (min-width: @desktop-width) {
      padding: 24px 32px 12px 27px;
      width: 940px;
    }
  }
}

.catalog__link {
  display: block;
  width: 280px;
  height: 180px;
  text-decoration: none;
  background-color: @black-grey;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }

  &--panorama {
    position: relative;
    width: 320px;
    height: 137px;

    @media (min-width: @tablet-width) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 506px;
    }
  }
}

.catalog__text-start {
  padding: 54px 20px 60px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 97px;
  }
}

.catalog__text {
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 0 40px;
  }
}

.catalog__hidden {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.catalog__comment-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.catalog__wrapper {
  margin: 19px auto;
  padding: 0 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -54px;
    padding: 0 10px;
    width: 940px;
  }
}

.catalog__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.catalog__comment-text {
  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
    min-height: 48px;
  }

  &--panorama {
    @media (min-width: @tablet-width) {
      order: 2;
      min-height: auto;
    }
  }
}

.catalog__like {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &--panorama {
    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.catalog__like-button {
  display: block;
  padding: 0;
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/icons/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.catalog__like-quantity {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 19px;
  color: @pink;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 17px;
  }
}
