.price {
  line-height: 30px;
  padding-top: 129px;
  padding-bottom: 31px;
  background-color: @grey;
  display: flex;
  align-items: center;


  @media (min-width: @tablet-width) {
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 159px;
    padding-bottom: 98px;
  }
}

.price__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.price__table {
  overflow: hidden;
}

.price__toggles {
  margin-top: 45px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
