.price {
  line-height: 30px;
  padding-top: 104px;
  padding-bottom: 33px;
  background-color: @grey;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% 25px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-top: 102px;
    padding-bottom: 68px;
    background-size: 100% 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 157px;
    padding-bottom: 36px;
    background-size: 100% 100px;
    background-position: 0 0;
  }
}

.price__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 10px;
  }
}

.price__table {
  position: relative;
  width: 832px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.price__toggles {
  display: flex;
  justify-content: center;
  margin-top: 43px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
